*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    text-align: center;
    background-color: rgb(13, 116, 107);
    margin-left: 10px;
    color: white;
}

.titulo{
    margin: 5vh 0 10vh 0;
    font-size: 3em;
}

.secao-imagem{
    max-width: 30vw;
    min-width: 20vw;
    margin: 0 auto;
}

.imagem-forca{
    border: 2px solid white;
    width: 100%;
}

.secao-dica{
    border: 5px dashed rgb(68, 224, 214);
    width: 30vw;
    margin: 0 auto;
    padding: 10px 15px;
}

.secao-dica h3{
    text-align: left;
    text-decoration: underline;
}

.secao-dica p{
    font-size: 2em;
    margin-bottom: 10px;
    color: #DEA435;
}

@media (max-width: 768px){
    .secao-dica{
        margin: 5vh auto;
        width: 40vw;
    }
}

.secao-letras-palavra{
    margin: 10vh auto;
}

.caixa-letra{
    border: 2px solid white;
    width: fit-content;
    padding: 20px 3vw;
    margin: 0 auto;
}

@media(max-width: 1110px){
    .caixa-letra{
        padding: 20px 2vw;
    }
}

.caixa-letra p{
    font-size: 1.3em;
    color: #DEA435;
}

.instrucao h2{
    text-align: left;
    margin: 5vh 5px;
    font-weight: 300;
}

.teclado-virtual{
    margin: 5vh 0;
}

.botao-letra{
    border: 2px solid white;
    padding: 10px;
    width: 5vw;
    display: inline-block;
    margin: 5px 3px;
}

.botao-letra:hover{
    background-color: rgb(11, 68, 63);
}



