*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-image: linear-gradient(rgba(5,8,96,1), rgb(89, 194, 255));
    color: white;
}

h1{
    margin: 5vh 0;
    font-size: 2.3em;
}

.mostra-nome-jogador{
    margin: 5vh 0;
}

.mostra-nome-jogador h4{
    font-size: 1.5em;
}

span{
    color: rgb(122, 180, 255);
    font-style: italic;
}

.tabuleiro{
    background-color: rgb(119, 166, 253);
    border: 4px solid rgb(55, 8, 109);
    width: fit-content;
    margin: 5vh auto;
}

.linha{
    border-bottom: 2px solid rgb(55, 8, 109);
}

.casa-tabuleiro{
    display: inline-block;
    border-right: 2px solid rgb(55, 8, 109);
    line-height: 15vh;
    height: 15vh;
    padding: 20px;
}

img{
    height: 100%;
}